DATABASE_URL="postgresql://neondb_owner:npg_kVzwf4sg5OJP@ep-cool-pine-ahpp73vq-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=jrd8Tx07EiQkmlQBoKDU6jZZvqSFppWB

WA_GATEWAY_URL='https://wa.sman1bantarujeg.sch.id/send/message'
WA_AUTH_USER='user1'
WA_AUTH_PASS='pass1'